*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #222;
}
.container{
    max-width: 470px;
    background: linear-gradient(135deg,rgb(50, 218, 50), rgb(6, 35, 35));
    color: #fff;
    margin: 30px auto;
    text-align: center;
    border-radius: 30px;
}.search-box{
    display: flex;
    justify-content: space-around;
    padding: 20px 40px;
}
.search-box input{
    font-size: 20px;
    font-weight: 500;
    padding: 10px 60px 10px 15px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    text-align: left;
}
.search-box button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    outline: 0;
}
.search-box button img{
    width: 35px;
}
.weather .main img{
    height: 120px;
    margin-top: 30px;
}
.weather .main h1{
    font-size: 80px;
    font-weight: 700;
}
.weather .main h2{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 30px;
}
.weather .detail {
    display: flex;
    justify-content: space-around;
}
.weather .detail .icon{
    display: flex;
}
.detail .icon{
    display: flex;
    justify-content: center;
    text-align: left;
    
}
.detail .icon img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.humidity , .wind{
    padding: 30px 0 0;
    font-size: 30px;
}
.icon h6{
    margin-bottom: 70px;
    font-size: 17px;
    font-weight: 400;
}